<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.mapper.TeacherMapper">
	
	    <!-- 登陆判断 -->
	    <select id="login" parameterType="map" resultType="teacher" >
	        select * from teacher where tId=#{tId} and passwd=#{passwd} 
	    </select>
	    
	    
	    <!-- 实现分页 -->
	     <select id="total" resultType="int">
            select count(*) from  
	    	projectmember INNER JOIN project ON projectmember.`projectId` = project.`projectId` 
			ORDER BY creator  
        </select>   
        
    
		<!-- 查询当前年度 -->
			<select id="years" resultType="String">
				select projectYear from  currentyear
			</select>

	</mapper>